.page {

    /*modifies direction of containers */
    display: flex;

    /*containers flow vertically*/
    flex-direction: column;
}

.header {

    display: flex;

    /*container flows horizontally*/
    flex-direction: row;

    /*to maintain space between logo and introdutcion text*/
    justify-content: space-between;


}



#logo {

    /*to adjust size of logo image*/
    width: 150px;
    height: auto;

    /*to move logo image away from edge*/
    padding-left: 150px;

    /*to keep space between logo and introduction*/
    margin-right: 150px;
}

.intro {

    /*to modify text gap*/
    display: flex;
    flex-direction: column;

    /*to move introduction text away from edge*/
    padding-right: 150px;

    /*to keep space between logo and introduction*/
    margin-right: 150px;
}

#name {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 28px;
}

#career {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 100;

    /*to close the gap between name and career texts*/
    margin-top: -30px;
}

.main-photo {
    display: flex;
    flex-direction: row;

    /*to keep image wider than longer*/
    max-height: 400px;

}

#hero-1 {

    /* to minimize size and elongate photo */
    height: auto;
    max-width: 1900px;

}

#portfolio {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 28px;
    
    display: flex;

    /*centers Portfolio text*/
    justify-content: center;
    align-items: center;

    /*adjusts space between hero1 image and "Portfolio" text*/
    margin-top: 25px;
}

.boxes {

    /* makes container flows horizontally*/
    display: flex;
    flex-direction: row;

    /*centers the boxes( the titles with links and images) */
    justify-content: center;
    align-items: center;

    /*adjusts the space between each "box"*/
    gap: 20px;

}

/*contains a title, link, and image*/
.box {

    /*makes container flow vertically*/
    display: flex;
    flex-direction: column;

    /*adds border stylings above title and under Portfolio*/
    border-top-color:#0D4B6E; 
    border-top-width: 1px;
    border-top-style: solid;

    
    
}

.text-box {
    /* the title and link are vertically placed*/
    display: flex;
    flex-direction: column;

    /*centers title and link*/
    justify-content: center;
    align-items: center;

    /*adds border stylings between links and images*/
    font-family: 'Helvetica Neue', sans-serif;
    border-bottom-color:#0D4B6E; 
    border-bottom-width: 8px;
    border-bottom-style: solid;
    
}

.top-text {
    font-size: 24px;

    
}

.link-text {
    font-size: 18px;

    color: #BB1F25;

}

.box-photo {
    height: 200px;
    width: 400px;
}